# This is an example .env file. Copy this to .env and fill in the values.

# The DATABASE_URL should be in the format:
DATABASE_URL=postgresql://postgres:[insert-password-here]@db.fsvcjodxkxqbilyocyms.supabase.co:5432/postgres

SUPABASE_JWT_SECRET=


SUPABASE_PUBLIC_URL=https://xxxx.supabase.co
SUPABASE_PUBLIC_ANON_KEY=xxxx